CREATE TABLE IF NOT EXISTS user_items (id SERIAL PRIMARY KEY, user_id UUID NOT NULL, item_key TEXT NOT NULL, value TEXT NOT NULL, type TEXT NOT NULL, updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(), UNIQUE(user_id, item_key)); CREATE INDEX IF NOT EXISTS idx_user_items_user_id_type ON user_items(user_id, type);
